Source: libaudio-scan-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.2), perl (>= 5.6.0-12), zlib1g-dev
Maintainer: Carl Fürstenberg <carl@excito.com>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Audio-Scan/

Package: libaudio-scan-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: XS parser for various music formats
 Audio::Scan is a C-based scanner for audio file metadata and tag information.
 It currently supports MP3 via an included version of libid3tag, MP4, Ogg
 Vorbis, FLAC (if libFLAC is installed), ASF, WAV, AIFF, Musepack, and
 Monkey's Audio.
